---
// A4Paper.astro: A4 paper layout wrapper
---

<div class="a4-paper">
    <slot />
</div>

<style is:global>
    .a4-paper {
        height: 210mm;
        width: 297mm;
        margin: 32px auto;
        box-shadow: 0 4px 24px #aaa;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 1cm;
        box-sizing: border-box;
    }

    @media print {
        .a4-paper {
            margin: 0.25cm;
            box-shadow: none;
            width: calc(100% - 1cm);
            height: calc(100% - 1cm);
        }
    }
</style>
