---
// A4Paper.astro: A4 paper layout wrapper
---

<div class="a4-paper">
    <slot />
</div>

<style is:global>
    .a4-paper {
        display: flex;
        flex-direction: column;
        /* overflow: hidden; */
        box-sizing: border-box;
        height: auto;
    }

    @media (min-width: 297mm) and (min-height: 210mm) {
        .a4-paper {
            padding: 1cm;
            height: 210mm;
            width: 297mm;
            box-shadow: 0 4px 24px #aaa;
            margin: 32px auto;
        }
    }

    @media print {
        .a4-paper {
            margin: 0.25cm;
            box-shadow: none;
            width: calc(100% - 1cm);
            height: calc(100% - 1cm);
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
    }
</style>
