---
import type { LessonType, Teacher } from "../data/lessonTypes";

export interface Props {
    lessonType?: LessonType;
    teacher?: Teacher;
}
const { lessonType, teacher } = Astro.props;
---

<div class="cell lesson" style={`background-color:${lessonType?.color ?? "#fff"};`}>
    <div class="lesson-name">{lessonType?.name ?? ""}</div>
    <div class="teacher-name">{teacher?.name ?? ""}</div>
</div>

<style>
    .lesson {
        position: relative;
    }

    .lesson-name {
        text-align: center;
    }

    .teacher-name {
        font-size: 0.6em;
        color: #888;
        position: absolute;
        left: 6px;
        bottom: 4px;
        text-align: left;
    }
</style>
