---
import A4Paper from "../components/A4Paper.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Plan lekcji</title>
    </head>
    <body>
        <A4Paper>
            <slot />
        </A4Paper>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
    @media (min-width: 297mm) and (min-height: 210mm) {
        html,
        body {
            width: 100%;
            height: 100%;
            background: #fff;
        }
        body {
            padding: 1em;
        }
    }
</style>
